.wrapper-book {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .wrapper-image {
    width: 45%;
    height: 450px;
    background-color: #fee9e2;
    position: relative;
  }
  .wrapper-content {
    width: 45%;
    height: 450px;
  }
}

.wrapper-image {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.wrapper-content {
  ul {
    font-size: 20px;
    overflow: auto;
    li {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
    }
  }
}
.wrapper-content {
  .nav-dropdown {
    display: none;
  }
  .nav-dropdown.active {
    display: block;
  }
}
.image-preview {
  width: 500px;
}
@media screen and (max-width: 1124px) {
  .wrapper-book {
    flex-wrap: wrap;
    .wrapper-image {
      width: 100%;
      margin-bottom: 30px;
    }
    .wrapper-content {
      width: 100%;
      border-top: 2px solid grey;
    }
  }
  .image-preview {
    width: 400px;
  }
}

@media screen and (max-width: 800px) {
  .wrapper-content {
    li {
      font-size: 16px;
    }
  }
  .image-preview {
    width: 300px;
  }
}

@media screen and (max-width: 450px) {
  .wrapper-book {
    .wrapper-image {
      height: 300px;
      background-color: #fee9e2;
      position: relative;
    }
    .wrapper-content {
      li {
        font-size: 12px;
      }
    }
  }
  .image-preview {
    width: 200px;
  }
}
