.col-md-10 {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
}
.counter {
  width: 200px;
}

@media screen and (max-width: 1150px) {
  .counter {
    width: 300px;
  }
}

@media screen and (max-width: 900px) {
  .col-md-10 {
    h1 {
      font-size: 20px;
    }
    h2 {
      font-size: 18px;
    }
    h3 {
      font-size: 16px;
    }
  }
  .counter {
    width: 200px;
  }
}

@media screen and (max-width: 550px) {
  .col-md-10 {
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 12px;
    }
    h2 {
      font-size: 12px;
    }
    h3 {
      font-size: 10px;
    }
  }
}
